.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
  /* width: 100%; */
  border: 2px solid black;
  /* width: 98%; */
  max-width: 1600px;
  height: 92px;
  background-color: #FFFFFF;
  margin: 0 auto;
  
}
.nav-bar .nav-logo img{
  width: 139px;
  height: 60px;
}
nav .nav-bar{
  display: flex;
  padding: 16px 120px;
  justify-content: space-between;
  align-items: center;
  
}
.nav-content .li-content {
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
}
.nav-button button{
  font-size: 16px;
  padding: 12px 16px;
  width: 164px;
  height: 44px;
  border-radius: 4px;
  background-color: #30B868;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
}
